<div id="clock"></div>
<script>
  setInterval(() =>{
    let date = new Date()
    let clock = document.getElementById('clock')
    clock.innerHTML = clock
    date.getHours()+":"+
    date.getMinutes()+":"+
    date.getSeconds()
  }, 1000);
</script>
</div>