* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-image: url('ichika.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 20px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 0.75;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.right {
  background-image: url('ichika.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  float: right;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

.right1 {
  float: right;
  width: 20%;
  padding: 1px;
  margin-top: 1px;
  text-align: left;
}

.center {
  float: left;
  width: 20%;
  text-align: center;
  position: absolute;
  bottom: -45%;
}

.container2 {
  width: 98%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 60%; background-color: #04AA6D;}
.css {width: 50%; background-color: #04AA6D;}
.editing {width: 85%; background-color: #04AA6D;}
.design {width: 80%; background-color: #04AA6D;}
.rigging {width: 75%; background-color: #04AA6D;}


.callout {
  position: fixed;
  bottom: 65%;
  right: 1%;
  margin-left: 20px;
  max-width: 300px;
}
  
.callout2 {
  position: fixed;
  bottom: 47%;
  right: 1%;
  margin-left: 20px;
  max-width: 300px;
}
  
.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}
  
.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}
  
.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
  
.closebtn:hover {
  color: red;
}

img:hover, .img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes typing {
  0% {
    width: 0%;
    visibility: hidden;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right, .right1 {
    width: 100%;
  }
}

